/* page viewer */
.page__container {
    display: flex;
    /* align-items: center; ou center si on veut centrer horizontalement */
    /* justify-content: center; */
    flex-direction: column;
    /* position: relative; */
    margin : 0 15vw;
    z-index: 1
}

.page__container h1 {
    color: white;
}

.page__infos {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    margin-bottom: 2vh;
    margin-top: 2vh;

}

.page__infos.ep__title {
    justify-content: left;
}

.page__infos.ep__selector {
    justify-content: right;
}

.page_viewer{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    margin-bottom: 2vh;

}

#current_page {
    max-width: 85vw;
    max-height: 85vh;
    border : solid 1px white;
    /* object-fit: contain;
    transition: opacity 0.15s ease-out, transform 0.1s ease-out;
    will-change: opacity, transform; */
}

.page_manip {
    display: flex;
    justify-content: center;
}

/* Episode navigation*/
.ep_selector{
    /* background-color: blue; */
    display: flex;
    flex-direction: column; /* empile les enfants en colonne */

    align-items: center; /* ou center si on veut centrer horizontalement */
    justify-content: flex-start;
    border-radius: 8px

}

#button_ep_select {
    background-color: red;
    width: 100%;
    border-radius: 8px
}

#easy_ep_select {
    background-color: aqua;
}
/* #easy_ep_select::picker(#easy_ep_select) {
	appearance: base-select;
} */
/* Style the arrow inside the select element: */
/* #easy_ep_select:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
} */

/* Point the arrow upwards when the select box is open (active): */
/* .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
} */

/* style the items (options), including the selected item: */
/* .select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
} */

/* Style items (options): */
/* .select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
} */

/* Hide the items when the select box is closed: */
/* .select-hide {
  display: none;
} */

/* .select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} */

/* Page navigation*/
/* les prev et next */
#page_nav_button{
    background-color:chocolate;
    /* justify-content: right; */
} 
/* le select de la page */
#easy_page_select{
    background-color: blueviolet;
}
/* le bouton pour go à la page */
#button_page_select{
    background-color: cornflowerblue;
    border-radius: 6px
    /* flex end genre ? */
}


@media screen and (max-width:960px) {

    /* #current_page {
    max-width: 85vw;
    max-height: 85vh;
    } */

    .page__container h1 {
    font-size: 2vh;
    }
    
}